 /* Tema claro (padrão) */
    body {
      background-color: white;
      color: rgb(15, 15, 15);
      font-family: Arial, sans-serif;
      transition: 0.3s;
    }

 /*Tema escuro (quando tiver a classe "dark-mode") */
    body.dark-mode {
      background-color: #0a0236;
      color: rgb(255, 255, 255);